<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader">
    <meta charset="UTF-8">
    <title>PiWeb</title>
    <link rel="shortcut icon" href="images/pilogo.ico"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/sticky-footer.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="jquery/easyui/themes/default/easyui.css">-->
    <!--<link rel="stylesheet" type="text/css" href="jquery/easyui/themes/icon.css">-->
    <script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--<script type="text/javascript" src="jquery/easyui/jquery.easyui.min.js"></script>-->
    <script type="text/javascript" src="lhgdialog/lhgdialog.min.js"></script>
</head>
<body>
<div th:fragment="commonNav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PiWeb</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="info">INFO</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="gpio">GPIO</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="pin">PIN</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        其他
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">选项一</a>
                        <a class="dropdown-item" href="#">选项二</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="commonFooter">
    <!--<footer class="footer navbar-fixed-bottom">-->
        <!--<div class="container">-->
            <!--<span class="text-muted">https://github.com/xtjun/PiWeb</span>-->
        <!--</div>-->
    <!--</footer>-->
</div>
</body>
</html>